body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

* {
  box-sizing: border-box;
}

html {
  margin: 2rem;
}

.demo-box {
  margin: 1rem 0;
  border: thin solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
}

.card > img {
  height: 200px;
  background: gray;
}

header {
  flex: 100 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  main {
    flex: 1 100vh;
  }
}