.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: #9ecffa;
  height: 100vh;
  color: #ffffff;
}

header {
  flex: 0 70px;
  border-bottom: solid #40a3ff medium;
  background-color: #9ecffa;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

.navbar {
  flex: 0 30px;
}

footer {
  flex: 0 30px;
  border-top: solid #40a3ff medium;
  background-color: #9ecffa;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid #9ecffa thin;
  color: #ffffff;
}

menu .nav-item {
  padding: 0 0.3em;
}

menu .nav-link {
  color: #ffffff;
}

footer a {
  float: right;
  text-decoration: none;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
