button {
  background-color: #0088ff;
  margin: 10px;
}

#add_button {
  background-color: #0088ff;
  margin: 10px;
}

#delete_button {
  background-color: #0088ff;
  margin: 10px;
}

.global-box {
  background-color: #82c5fe;
  border: solid #5eb1ff medium;
  margin: 10px;
}

.globalText {
  padding: 1%;
}
